Web References/WRFileUpdate/UpdateFileWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetUpdateFileList">
        <s:complexType />
      </s:element>
      <s:element name="GetUpdateFileListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpdateFileListResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExtData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FailDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FailNum" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsOK" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Num" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StateCodeID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SucceedDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SucceedNum" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Result" nillable="true" type="tns:Result" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUpdateFileListSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpdateFileList" />
  </wsdl:message>
  <wsdl:message name="GetUpdateFileListSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpdateFileListResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpdateFileListHttpGetIn" />
  <wsdl:message name="GetUpdateFileListHttpGetOut">
    <wsdl:part name="Body" element="tns:Result" />
  </wsdl:message>
  <wsdl:message name="GetUpdateFileListHttpPostIn" />
  <wsdl:message name="GetUpdateFileListHttpPostOut">
    <wsdl:part name="Body" element="tns:Result" />
  </wsdl:message>
  <wsdl:portType name="UpdateFileWebServiceSoap">
    <wsdl:operation name="GetUpdateFileList">
      <wsdl:input message="tns:GetUpdateFileListSoapIn" />
      <wsdl:output message="tns:GetUpdateFileListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="UpdateFileWebServiceHttpGet">
    <wsdl:operation name="GetUpdateFileList">
      <wsdl:input message="tns:GetUpdateFileListHttpGetIn" />
      <wsdl:output message="tns:GetUpdateFileListHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="UpdateFileWebServiceHttpPost">
    <wsdl:operation name="GetUpdateFileList">
      <wsdl:input message="tns:GetUpdateFileListHttpPostIn" />
      <wsdl:output message="tns:GetUpdateFileListHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UpdateFileWebServiceSoap" type="tns:UpdateFileWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUpdateFileList">
      <soap:operation soapAction="http://tempuri.org/GetUpdateFileList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UpdateFileWebServiceSoap12" type="tns:UpdateFileWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUpdateFileList">
      <soap12:operation soapAction="http://tempuri.org/GetUpdateFileList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UpdateFileWebServiceHttpGet" type="tns:UpdateFileWebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetUpdateFileList">
      <http:operation location="/GetUpdateFileList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UpdateFileWebServiceHttpPost" type="tns:UpdateFileWebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetUpdateFileList">
      <http:operation location="/GetUpdateFileList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpdateFileWebService">
    <wsdl:port name="UpdateFileWebServiceSoap" binding="tns:UpdateFileWebServiceSoap">
      <soap:address location="http://172.20.8.24/DownLoad/BLL/UpdateFile/UpdateFileWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="UpdateFileWebServiceSoap12" binding="tns:UpdateFileWebServiceSoap12">
      <soap12:address location="http://172.20.8.24/DownLoad/BLL/UpdateFile/UpdateFileWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="UpdateFileWebServiceHttpGet" binding="tns:UpdateFileWebServiceHttpGet">
      <http:address location="http://172.20.8.24/DownLoad/BLL/UpdateFile/UpdateFileWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="UpdateFileWebServiceHttpPost" binding="tns:UpdateFileWebServiceHttpPost">
      <http:address location="http://172.20.8.24/DownLoad/BLL/UpdateFile/UpdateFileWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>